body {
    background-color: gold;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: blue;
}

div {
    margin: 1em;
}

h1{
    font-family: 'Modak', cursive;
    font-weight: lighter;
    color: orangered;
    -webkit-text-stroke: 0.5px lightblue;
}

h1 {
    font-size: 72px;
    -webkit-text-stroke: 1.5px lightblue;
}

button {
    padding: 0.75em;
    border-radius: 10px;
    color: ghostwhite;
    background-color: deepskyblue;
    margin: 0 0;
    margin-left: 1em;
    margin-right: 1em;
    font-size: 12px;
}

